@page "/informacion"
<h1>Información de la institución</h1>


<br />
<br />
<p>Universidad Tecnológica de Querétaro</p>
<p>Av. Pie de la Cuesta 2501, Nacional, 76148 Santiago de Querétaro, Qro.</p>
<p><b>Teléfono:</b> 442 209 6100 </p>


@code {

}
