@page "/"





<div class="jumbotron">
    <h1>Universidad Tecnológica de Querétaro</h1>
    <p>Bienvenido a la página oficial de la biblioteca de la Universidad Tecnológica de Querétaro.</p>
</div>



<a href="libros" class="ml-md-auto btn btn-success">Acceder al catálogo de libros</a>
