@page "/"

<h1>Universidad Tecnológica de Querétaro</h1>

Bienvenido a la página oficial de la biblioteca de la Universidad Tecnológica de Querétaro


<a href="libros" class="ml-md-auto">Acceder al catálogo de libros</a>
