@page "/libros"
@inject HttpClient Http

<div class="jumbotron">
    <h1>Catálogo de libros</h1> 
    <p>Libros disponibles</p>
</div>

@if (libros == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table table-hover">
        <thead class="text-center text-uppercase">
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Año de publicación</th>
                <th>Información</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in infoLibros)
            {

                <tr class="text-center">
                    <td class="text-uppercase">@libro.Titulo</td>
                    <td>@libro.Autor</td>
                    <td>@libro.Anio</td>
                    <td><a class="btn btn-primary" href="detalleLibro/@libro.Id" >Más información </a></td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    private BooksForecast[] forecasts;
    private InfoBooks[] libros;
    private List<InfoBooks> infoLibros = new List<InfoBooks>();

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<BooksForecast[]>("sample-data/libros.json");
        foreach (var id in forecasts)
        {
            libros = await Http.GetFromJsonAsync<InfoBooks[]>("sample-data/libro" + id.Id + ".json");
            infoLibros.Add(libros[0]);
        }
    }


    public class BooksForecast
    {
        public int Id { get; set; }

    }

    public class InfoBooks
    {
        public string Titulo { get; set; }

        public string Autor { get; set; }

        public string Anio { get; set; }

        public int Id { get; set; }

    }


}
